/* style.scss */
$background: "../img/bg.png";
$about_bg: "../img/txture.png";
$mt-front: "../img/mt-front.png";
$mt-mid: "../img/mt-mid.png";
$mt-back: "../img/mt-back.png";
$banner: "../img/banner.jpg";
$github: "../img/github.png";
$globe: "../img/globe.png";

$body_width: 400px;
$body_padding: 20px;

body {
	background: url($background);
}

#wrapper {
	position: relative;
}
.mts {
	width: 100%;
	height: 225px;
	overflow: hidden;
	position: fixed;
	left: 0;
	bottom: 0;
}
.mt {
	width: 200%;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 225px;
	z-index: 0;
}
.mt-front {
	background: url($mt-front) repeat-x bottom center;
}
.mt-mid {
	background: url($mt-mid) repeat-x bottom center;
}
.mt-back {
	background: url($mt-back) repeat-x bottom center;
}

#container {
	width: $body_width;
	margin: 0 auto;
	color: #2B3A42;
	padding: {
		left: $body_padding;
		right: $body_padding;
		bottom: $body_padding;
	}
	border: {
		left: 1px solid #fff;
		right: 1px solid #fff;
	}
	z-index: 100;
	position: relative;
	padding-top: 300px;
	background: rgba(255,255,255,0.9) url($banner) no-repeat center top;

}

.box {
	margin-left: 10px;
}

h1 {
	font-family: 'Port Lligat Sans', sans-serif;
	font-size: 72px;
	letter-spacing: -2px;
	margin: 0 0 25px;
	color: #222;
	text-align: center;
}

p, h2, h3, dl, ul, .footer, .etc {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	margin: 16px 0;
	text-shadow: #EEE 0 -1px 0;
	font-size: 13px;
	line-height: 21px;
}

a {
	color: #FF530D;
	text-decoration: none;
}

a:hover {
	color: #AAA;
}

h2 {
	font-size: 18px;
	color: #3F5765;
	border-bottom: 1px solid #CCC;
	margin: 20px 0 10px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-shadow: #FFF 0 -1px 0;
	background: rgba(189,212,222,0.4);
	border-radius: 1px;
	padding: 5px 8px;
}

dl {
	margin: 10px 0;
	font-size: 12px;
}

dt {
	float: left;
	width: 50px;
	text-align: right;
	display: inline-block;
	font-weight: bold;
	margin-right: 5px;
}

dt, dd {
	margin-bottom: 5px;
}

h3 {
	font-size: 12px;
	font-weight: 700;
	margin: 15px 0 8px;
}

.courses {
	margin-left: 10px;
}

.semester {
	li {
		font-size: 12px;
		margin-bottom: 3px;
		span {
			color: #888;
			line-height: 16px;
			width: 50px;
			text-align: right;
			margin: 0 5px 3px 0;
			display: inline-block;
			font-style: italic;
		}
	}
}

.hide {
	display: none;
	opacity: 0 !important;
}
.irrelevant {
	opacity: 0.8;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

.rel-toggle:hover {
	cursor: pointer;
	color: #888;
}

.footer {
	padding: 20px 0 0;
	text-align: center;
	color: #ccc;
	font-size: 11px;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	transition: color 0.2s ease;
	&:hover {
		color: #666;
	}
}

.etc {
	margin-bottom: 10px;
}
.etc:hover .desc {
	opacity: 1;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}
.etc:hover .label {
	border-bottom: 1px solid rgba(255,83,13,1);
}

.label {
	font-weight: 600;
	font-size: 12px;
	display: inline-block;
	padding: 0 8px;
	line-height: 26px;
	background: white;
	border-bottom: 1px solid rgba(255,83,13,0.3);
}
.desc {
	font-size: 12px;
	display: inline-block;
	margin: 0 0 0 6px;
	background: rgba(255,255,255,0.5);
	color: #888;
	opacity: 0.7;
}
.ext-link {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 2px;
}
.ext-link.github {
	background: url($github) no-repeat center center;
}
.ext-link.globe {
	background: url($globe) no-repeat center center;
}
.time {
	background: rgba(100,100,100,0.4);
	color: white;
	margin-left: 3px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 0 4px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 400;
}

#container.post {
	background-image: none;
	padding-top: 10px;
	h1 {
		font-size: 36px;
		letter-spacing: 0;
		margin: 10px 0 20px;
	}
	.highlight {
		font-family: 'Ubuntu Mono', Courier New, sans-serif;
		font-size: 13px;
		line-height: 18px;
		padding: 5px 10px;
		background-color: rgba(220, 220, 220, 0.5);
		code {
			background: none;
		}
		.lineno {
			color: #999;
		}
	}
	code {
		font-family: 'Ubuntu Mono', Courier New, sans-serif;
		background-color: rgba(220, 220, 220, 0.5);
		padding: 2px;
	}
	em {
		font-style: italic;
	}
}
.about {
	width: $body_width;
	padding: $body_padding/2 $body_padding;
	margin: 0 auto;
	border-bottom: 2px solid #444;
	background: url($about_bg);
	img {
		float: left;
		margin-right: 10px;
	}
	.text {
		font-family: 'Open Sans', sans-serif;
		color: white;
	}
	.title {
		padding-top: 20px;
		margin: 0 0 6px;
		font-size: 22px;
		text-shadow: #000 0 1px 0;
	}
	.subtitle {
		font-size: 13px;
		text-shadow: #000 0 1px 0;
		margin: 0;
	}
}
ul.posts {
	font-size: 12px;
	margin: 20px 0 10px 10px;
	li {
		margin-bottom: 8px;
	}
	span {
		color: #888;
	}
	a {
		margin-left: 5px;
	}
}
.author {
	margin: 10px 0;
	text-align: right;
	color: #888;
	font-size: 11px;
	font-style: italic;
	span {
		color: #222;
	}
	.end-post {
		width: 10px;
		height: 10px;
		background: #444;
		display: inline-block;
		margin-left: 5px;
	}
}