<!doctype HTML>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="/img/favicon.png" />
	<link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans' rel='stylesheet' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' />
	<link rel='stylesheet' href='/css/reset.css' />
	<link rel='stylesheet' href='/css/highlight.css' />
	<link rel='stylesheet' href='/css/styles.css' />
	<script src='/js/jquery.js'></script>
	<script src='/js/jquery-ui.js'></script>
	<script src='/js/script.js'></script>
	<script src='http://platform.twitter.com/anywhere.js?id=muJptlnu3oxERpydFcCeyQ&amp;v=1'></script>
</head>
<body>
	{{ content }}
</body>
</html>